*.swp
._*
ssh_key_*

.DS_Store
.env

# Gitignore for Cadence Virtuoso
################################################################

# Log files
*.log
panic*.log.*

# OpenAccess database lock files
*.cdslck*

# Run directories for layout vs. schematic and design rule check
lvsRunDir/*
drcRunDir/*

# Abstract generation tool
abstract.log*
abstract.record*
.cadence/*

*.cel
*.cls
*.cps
*.csm
*.ldb
*.lnn
*.nht
*.snn
*.tre
*.xrf

*.alc
*.bbc
*.bcr
*.dat
*.dvc
*.elf
*.env
*.erc
*.erd
*.err
*.erx
*.hdr
*.ilc
*.ler
*.lyr
*.map
*.msg
*.nrc
*.rsf
*.sum
*.svi
*.tmp
*.trm
*.xcn

*.log.*
*.ccl
casLog
